                        /***pallett color  
background: rgb(240,233,229) light-gray
accent:     rgb(242,120,75) oranje
dominant:   rgb(53,28,20) brown-dark
            rgb(242,202,126) crem dark
            rgb(242,227,206) crem light
            rgb(162,191,99) green.light
html-color  rgb(255,239,217

*/
                        
                        html {
                            padding: 0px auto;
                            margin: 0px auto;
                            background-color: #ffffff;
                        }
                        
                        body {
                            max-width: 1360px;
                            padding: 0px 0px;
                            margin: 0px auto;
                            background-color: #ffffff;
                        }
                        
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        
                        .icons_footer {
                            display: block;
                            width: 40%;
                            height: auto;
                            padding: 20px;
                        }
                        /*-----------headings--------*/
                        
                        h1,
                        h2,
                        h3,
                        h4,
                        h5 {
                            font-family: Poppins, georgia, serif;
                            color: rgb(53, 28, 20);
                            line-height: 1.2em !important;
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        
                        h1 {
                            font-size: 27px;
                        }
                        
                        h2 {
                            font-size: 20px;
                            color: rgb(53, 28, 20);
                            font-weight: 600;
                        }
                        
                        h3 {
                            font-size: 18px;
                            font-weight: 300px;
                            font-family: lato;
                            margin-bottom: 0px;
                        }
                        
                        h4 {
                            font-size: 16px;
                            font-weight: 300;
                        }
                        
                        h5 {
                            font-size: 15px;
                            font-weight: 200;
                            margin-top: 3px;
                        }
                        
                        h6 {
                            font-family: 'Dancing Script', cursive;
                            font-size: 30px;
                            font-weight: 400;
                            color: rgb(53, 28, 20);
                            margin-top: 0px;
                            letter-spacing: 3px;
                        }
                        
                        p {
                            font-family: lato, verdana, "sans-serif";
                            font-weight: 300;
                            text-align: justify;
                            letter-spacing: 0.3px;
                            font-size: 16px;
                        }
                        
                        a {
                            font-family: Poppins, georgia, serif;
                            font-size: 16px;
                            font-weight: 300;
                            text-decoration: none;
                        }
                        
                        i:hover {
                            color: rgb(242, 227, 206)
                        }
                        
                        .top-icon-location a:hover {
                            color: rgb(242, 227, 206)
                        }
                        
                        b {
                            font-family: Poppins, georgia, serif;
                            font-size: 20px;
                            color: rgb(242, 120, 75);
                            font-weight: 400;
                            padding-left: 5px;
                        }
                        
                        span {
                            font-size: 18px;
                            font-family: Poppins, georgia, serif;
                            color: rgb(53, 28, 20);
                            font-weight: 500;
                            padding-right: 5px;
                        }
                        
                        button {
                            display: inline-block;
                            padding: 10px 50px;
                            margin: 0 0.3em 0.3em 0;
                            border-radius: 0.15em;
                            box-sizing: border-box;
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            text-transform: uppercase;
                            font-weight: 400;
                            color: #FFFFFF;
                            background-color: rgb(242, 120, 75);
                            text-align: center;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }
                        
                        button:hover {
                            background-color: rgb(206, 99, 61);
                        }
                        
                        i {
                            font-size: 22px;
                            color: rgb(242, 120, 75);
                            margin-right: 10px;
                            padding: 15px 5px;
                            cursor: pointer;
                        }
                        
                        .top-icon-location a {
                            color: rgb(242, 120, 75);
                            margin-right: 30px;
                            text-decoration: underline;
                        }
                        
                        .top-icon-location i {
                            margin-right: 0px;
                        }
                        /*-------------navigation------------*/
                        
                        .navigation {
                            max-width: 1360px;
                            background-color: #ffffff;
                            position: fixed;
                            height: 120px;
                            width: 100%;
                            z-index: 3;
                            padding-top: 10px;
                            margin: -10px auto;
                            top: 0;
                            -webkit-box-shadow: 0 6px 4px -4px black;
                            -moz-box-shadow: 0 6px 4px -4px black;
                            box-shadow: 0 6px 4px -4px black;
                        }
                        
                        .top-icon-link {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            margin: 0px auto;
                            background-color: #341919;
                        }
                        
                        .logo {
                            width: 100px;
                            height: 40px;
                            position: absolute;
                            margin: 20px;
                        }
                        
                        .navigation ul {
                            text-align: center;
                            margin: 0px auto;
                            padding: 0px;
                            list-style: none;
                            overflow: hidden;
                        }
                        
                        .navigation ul a {
                            color: rgb(242, 227, 206);
                            background-color: #341919;
                            display: block;
                            padding: 10px;
                            text-decoration: none;
                            margin: 0px auto;
                        }
                        
                        .navigation .curent a {
                            color: rgb(242, 120, 75);
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                        
                        .navigation ul a:hover {
                            color: rgb(53, 28, 20);
                            background-color: rgb(248, 234, 217);
                            margin: 0px auto;
                        }
                        
                        .navbar {
                            clear: both;
                            max-height: 0;
                            transition: .2s ease-out;
                        }
                        
                        .menu-icon {
                            margin-top: 4px;
                            padding: 30px 25px;
                            position: relative;
                            float: right;
                            cursor: pointer;
                        }
                        
                        .nav-icon {
                            background-color: rgb(67, 21, 40);
                            display: block;
                            height: 4px;
                            width: 22px;
                            position: relative;
                            transition: .2s ease-out;
                            border-radius: 4px;
                        }
                        
                        .nav-icon:before {
                            background-color: rgb(67, 21, 40);
                            content: "";
                            display: block;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            transition: all .2s ease-out;
                            top: 9px;
                            border-radius: 4px;
                        }
                        
                        .nav-icon:after {
                            background-color: rgb(67, 21, 40);
                            content: "";
                            display: block;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            transition: all .2s ease-out;
                            top: -9px;
                            border-radius: 4px;
                        }
                        
                        .menu-btn {
                            display: none;
                        }
                        
                        .menu-btn:checked~.navbar {
                            max-height: 300px;
                        }
                        
                        .menu-btn:checked~.menu-icon .nav-icon {
                            background: transparent;
                        }
                        
                        .menu-btn:checked~.menu-icon .nav-icon:before {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                        
                        .menu-btn:checked~.menu-icon .nav-icon:after {
                            transform: rotate(45deg);
                            top: 0;
                        }
                        /*----------------page-next----------------*/
                        
                        .page {
                            max-width: 1360px;
                        }
                        
                        .page-next {
                            max-width: 1360px;
                            display: flex;
                            top: 200px;
                            flex-direction: row;
                            background-color: #2D1910;
                            text-align: center;
                            padding: 10px;
                        }
                        
                        .page-next a {
                            text-decoration: none;
                            margin-left: 20px;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                        
                        .back-home {
                            color: white;
                        }
                        
                        .page-next a:hover {
                            color: rgb(242, 120, 75);
                        }
                        
                        .active {
                            color: rgb(242, 120, 75);
                        }
                        /*------banner-hero--*/
                        
                        .hero-banner {
                            max-width: 1360px;
                            margin-top: 120px;
                        }
                        
                        .hero-img-desktop {
                            max-width: 1360px;
                            display: none;
                        }
                        
                        .hero-img-mobil {
                            position: absolute;
                            height: auto;
                        }
                        
                        .hero-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-top: 5%;
                            position: relative;
                            color: white;
                            text-align: center;
                        }
                        
                        .hero-text h1 {
                            font-family: 'Dancing Script', cursive;
                            color: rgb(248, 234, 217);
                            letter-spacing: 3px;
                            text-align: center;
                            margin-top: 20px;
                            padding: 0px 5px;
                        }
                        
                        .hero-text p {
                            max-width: 410px;
                            color: rgb(248, 234, 217);
                            text-align: center;
                            padding: 5px 20px 10px 20px;
                            margin: 5px auto;
                            font-size: 18px;
                        }
                        /*---------main-content-------*/
                        
                        .index {
                            max-width: 1360px;
                            margin: 50px auto;
                            padding: 50px auto;
                            text-align: left;
                        }
                        
                        .index-intro-text {
                            max-width: 1360px;
                            margin-top: -40px;
                            padding: 40px 15px;
                            text-align: center;
                            background-image: url(image/background-intro.jpg);
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            height: auto;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                        }
                        
                        .intro-text {
                            max-width: 800px;
                            margin: 0px auto;
                        }
                        
                        .intro-text p {
                            margin-top: -60px;
                            text-align: center;
                            padding-bottom: 10px;
                        }
                        /*-----our-coffee-----*/
                        
                        .index-our-coffee {
                            margin: 0px auto;
                            background-color: #ffffff;
                            padding: 30px 20px 80px 20px;
                            text-align: center;
                        }
                        
                        .border {
                            width: 290px;
                            height: 20px;
                        }
                        
                        .our-coffee-category {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin: 0px auto;
                            margin-top: 20px;
                        }
                        
                        .our-coffee-detail {
                            max-width: 300px;
                            text-align: center;
                            border-bottom: 1px solid rgb(53, 28, 20);
                            margin: 10px 10px;
                        }
                        
                        .our-coffee-detail p {
                            padding: 5px 10px;
                        }
                        
                        .our-coffee-detail-text img {
                            max-width: 300px;
                            height: 400px;
                            margin-top: -60px;
                            -webkit-box-shadow: 0 6px 4px -4px black;
                            -moz-box-shadow: 0 6px 4px -4px black;
                            box-shadow: 0 6px 4px -4px black;
                        }
                        
                        .our-coffee-detail-text h6 {
                            color: #f9690e;
                        }
                        /*---how-is-made----*/
                        
                        .index-how-made {
                            max-width: 1360px;
                            margin-top: -60px;
                            padding: 40px 15px;
                            text-align: center;
                            background-image: url(image/how-is-made.jpg);
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            height: auto;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                        }
                        
                        .index-how-made a {
                            text-decoration: underline;
                            color: rgb(242, 120, 75);
                            padding-left: 5px;
                        }
                        
                        .index-how-made h2 {
                            color: white;
                        }
                        
                        .index-how-made h6 {
                            color: white;
                            opacity: 60%;
                            margin-bottom: 0px;
                            font-size: 26px;
                            padding-top: 5px;
                        }
                        
                        .index-how-made p {
                            max-width: 900px;
                            margin: 0px auto;
                            color: white;
                            margin-top: 20px;
                            text-align: center;
                        }
                        /*---index-location----*/
                        
                        .index-location {
                            max-width: 1360px;
                            height: 100%;
                            background-color: #ffffff;
                            text-align: left;
                            padding: 30px 20px 80px 20px;
                            margin: 0px auto;
                            text-align: center;
                        }
                        
                        .index-location h6 {
                            padding-left: 12px;
                        }
                        
                        .location-place {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin-top: 20px;
                        }
                        
                        .location-city {
                            position: relative;
                            max-width: 350px;
                            max-width: 400px;
                            margin: 20px auto;
                        }
                        
                        .location-city img {
                            max-width: 330px;
                            height: auto;
                            margin: 0px auto;
                        }
                        
                        .location-city button {
                            position: absolute;
                            width: 300px;
                            top: 85%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            padding: 10px 40px;
                            border-radius: 0px;
                            font-weight: 400;
                        }
                        /*------banner-page------------*/
                        
                        .banner-page {
                            position: relative;
                            margin-top: 120px;
                            max-width: 1360px;
                            height: auto;
                        }
                        /*---------about-page--------*/
                        
                        .about {
                            max-width: 1360px;
                            margin: 0px auto;
                            background-color: #ffffff;
                        }
                        
                        .about-text {
                            max-width: 960px;
                            margin: 0px auto;
                            padding: 20px;
                            padding-bottom: 100px;
                        }
                        
                        .about-text h2 {
                            margin-top: 20px;
                        }
                        
                        .about-text h6 {
                            margin-top: 10px;
                        }
                        
                        .about-text p {
                            margin-top: -50px;
                        }
                        /*--------location-page------*/
                        
                        .location {
                            max-width: 1360px;
                            margin: 0px auto;
                            background-color: #ffffff;
                        }
                        
                        .content-location {
                            padding: 10px;
                            margin: 0px auto;
                            margin-bottom: 40px;
                        }
                        
                        .location-style {
                            max-width: 450px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin: 0px auto 40px auto;
                            padding: 20px 20px;
                        }
                        
                        .location-img {
                            max-width: 590;
                            margin: 0px auto;
                        }
                        
                        .location-style h2 {
                            padding-top: 20px;
                        }
                        
                        .location-style h4 {
                            margin: 5px auto 20px auto;
                        }
                        
                        .location-hour {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            margin: 0px auto;
                            margin-top: -50px;
                            font-size: 22px;
                        }
                        
                        .location-hour span {
                            margin-left: 8px;
                        }
                        
                        .oslo {
                            background-color: #a4bd67;
                        }
                        
                        .bergen {
                            background-color: #5baaef;
                        }
                        
                        .tromso {
                            background-color: rgb(242, 120, 75);
                        }
                        /*----contact-page--------*/
                        
                        .contact {
                            max-width: 1360px;
                            margin: 0px auto;
                            background-color: rgb(202, 190, 174);
                        }
                        
                        .contact-content {
                            max-width: 980px;
                            height: 100%;
                            margin: 0px auto;
                            display: flex;
                            flex-wrap: wrap;
                            background-color: rgb(211, 198, 180);
                            justify-content: center;
                            margin-bottom: 60px;
                            padding-top: 20px;
                            padding-bottom: 30px;
                        }
                        
                        #contact-form {
                            width: 260px;
                            justify-content: center;
                            margin: 0px auto;
                        }
                        
                        #contact-form input {
                            width: 250px;
                            margin: 20px auto;
                            height: 30px;
                            font-size: 16px;
                        }
                        
                        .contact-style {
                            width: 300px;
                            margin: 10px 10px;
                            text-align: center;
                            padding: 30px 10px;
                            justify-content: center;
                        }
                        
                        .contact-style p {
                            margin: 10px auto 30px auto;
                            text-align: center;
                            padding: 10px 40px;
                        }
                        
                        .info p {
                            text-align: justify;
                            margin: 20px auto;
                            padding: 0px 0px;
                        }
                        
                        #contact-form #message {
                            height: 70px;
                        }
                        
                        #contact-form h5 {
                            text-align: left;
                            margin-bottom: -20px;
                            padding-left: 3px;
                        }
                        
                        #contact-form button {
                            padding: 10px 90px;
                            margin-top: 40px;
                        }
                        
                        .contact-style h4 {
                            text-align: left;
                            margin: 10px auto;
                        }
                        
                        .form-error {
                            display: none;
                            color: red;
                            font-family: lato;
                            font-weight: 400;
                            text-align: left;
                        }
                        
                        .info {
                            padding-top: 30px;
                        }
                        /*----footer-----*/
                        
                        .footer {
                            background-color: #2D1910;
                            padding: 30px 10px 0px 10px;
                            text-align: center;
                            margin-top: -70px;
                        }
                        
                        .footer-content {
                            max-width: 1024px;
                            margin: 0px auto;
                        }
                        
                        .footer img {
                            width: 110px;
                            height: 45px;
                            padding-bottom: 20px;
                            margin: 10px auto;
                        }
                        
                        .footer-social {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0px auto;
                            justify-content: center;
                        }
                        
                        .footer-contact {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin: 0px auto;
                        }
                        
                        .footer h2 {
                            color: rgb(242, 227, 206);
                            font-weight: 400;
                            padding-bottom: 10px;
                            border-bottom: 1px solid rgb(242, 227, 206);
                        }
                        
                        .footer h3 {
                            color: rgb(242, 227, 206);
                            font-weight: 300;
                            margin-bottom: 20px;
                        }
                        
                        .footer h4 {
                            color: rgb(242, 227, 206);
                            font-weight: 200;
                            font-weight: 16px;
                            font-family: lato;
                            padding: 5px 0px;
                        }
                        
                        .footer-style {
                            width: 300px;
                            margin: 10px auto;
                            padding-bottom: 20px;
                        }
                        
                        .footer input {
                            width: 250px;
                            height: 35px;
                            margin-bottom: 20px;
                            background-color: white;
                            outline: none;
                            border: 1px solid white;
                        }
                        
                        .footer button {
                            padding: 10px 98px;
                            border-radius: 0px;
                        }
                        
                        .footer-copyright {
                            max-width: 1360px;
                            background-color: #FFE6D7;
                            text-align: center;
                            line-height: 1.6em;
                            margin: 5px -10px;
                            color: black;
                            padding: 3px;
                        }
                        
                        .footer-copyright p {
                            font-size: 14px;
                            text-align: center;
                            padding: 0px 20px;
                            line-height: 0.7em;
                        }
                        
                        .footer i {
                            font-size: 35px;
                        }
                        /*******MEDIA QUERY---768*******************************/
                        
                        @media (min-width:375px) {
                            .location-hour {
                                display: flex;
                                flex-direction: row;
                            }
                            .intro-text {
                                padding-top: 20px;
                            }
                        }
                        
                        @media (min-width:500px) {
                            h1 {
                                font-size: 38px;
                            }
                            h2 {
                                font-size: 24px;
                            }
                            h3 {
                                font-size: 22px;
                            }
                            h4 {
                                font-size: 16px;
                            }
                            h5 {
                                font-size: 15px;
                            }
                            h6 {
                                font-size: 32px;
                            }
                            p {
                                font-size: 18px;
                            }
                            a {
                                font-size: 18px;
                            }
                            button {
                                font-size: 17px;
                            }
                            .hero-text {
                                padding-top: 2%;
                            }
                        }
                        
                        @media (min-width:768px) {
                            h1 {
                                font-size: 40px;
                            }
                            .logo {
                                width: 130px;
                                height: 70px;
                                margin: 10px 10px;
                            }
                            .navigation ul {
                                overflow: visible;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                margin-top: 10px;
                            }
                            .navigation ul a {
                                padding-right: 20px;
                                color: rgb(53, 28, 20);
                                background-color: #ffffff;
                                font-weight: 500;
                            }
                            .navigation ul a:hover {
                                color: rgb(255, 102, 46);
                                background-color: #ffffff;
                            }
                            .menu-icon {
                                display: none;
                            }
                            /*-------hero-banner-----*/
                            .hero-text {
                                padding-top: 8%;
                                right: 18%;
                            }
                            .hero-img-desktop {
                                display: block;
                                position: absolute;
                                height: auto;
                                margin-bottom: 10px;
                            }
                            .hero-img-mobil {
                                display: none;
                            }
                            .hero-text p {
                                max-width: 300px;
                                font-size: 24px;
                            }
                            b {
                                font-size: 25px;
                            }
                            .intro-text {
                                padding-top: 40px;
                            }
                            .index-intro-text p {
                                font-size: 20px;
                            }
                            .footer-style {
                                border-bottom: none;
                            }
                            .footer img {
                                width: 140px;
                                height: 60px;
                                padding-bottom: 30px;
                            }
                            .footer i {
                                font-size: 34px;
                                padding-left: 20px;
                            }
                            .footer h2 {
                                border-bottom: 1px solid rgb(242, 227, 206);
                                text-align: left;
                                margin-left: 40px;
                                padding-top: 30px;
                            }
                            /*-------location-page----*/
                            .location-style {
                                max-width: 760px;
                                display: flex;
                                flex-direction: row;
                            }
                            .location-intro {
                                width: 300px;
                                padding: 10px;
                                margin-top: -20px;
                            }
                            .location-img {
                                width: 380px;
                                height: auto;
                                margin: 20px auto;
                                padding: 0px;
                            }
                            /*------contact-page----*/
                            .contact-style {
                                width: 370px;
                            }
                            .contact-content {
                                justify-content: space-around;
                            }
                            #contact-form {
                                width: 340px;
                            }
                            #contact-form input {
                                width: 330px;
                            }
                        }
                        
                        @media (min-width:950px) {
                            h1 {
                                font-size: 54px;
                            }
                            .hero-img-desktop {
                                height: 350px;
                            }
                            .hero-text {
                                padding-top: 7%;
                            }
                            .hero-text p {
                                max-width: 500px;
                                font-size: 24px;
                            }
                            b {
                                font-size: 26px;
                            }
                            .intro-text {
                                padding-top: 70px;
                            }
                            /*----location-page---*/
                            .location-style {
                                width: 850px;
                            }
                            .location-intro {
                                width: 370px;
                                margin: -10px 10px;
                            }
                            .location-img {
                                width: 400px;
                                margin-top: 40px;
                            }
                            /*------contact-page----*/
                            .contact-style {
                                width: 420px;
                                margin: 0px 0px;
                            }
                        }
                        
                        @media (min-width:1024px) {
                            h1 {
                                font-size: 56px;
                            }
                            h2 {
                                font-size: 30px;
                            }
                            h3 {
                                font-size: 26px;
                            }
                            h4 {
                                font-size: 16px;
                            }
                            h6 {
                                font-size: 36px;
                            }
                            .our-coffee-detail {
                                max-width: 370px;
                                text-align: center;
                                border-bottom: none;
                                margin: 10px 20px;
                                -webkit-box-shadow: 0 6px 4px -4px black;
                                -moz-box-shadow: 0 6px 4px -4px black;
                                box-shadow: 0 6px 4px -4px black;
                            }
                            .our-coffee-detail-text img {
                                max-width: 320px;
                                height: 410px;
                                margin: -60px auto 10px auto;
                            }
                            .footer-content h3 {
                                font-size: 22px;
                            }
                            .footer-content h2 {
                                font-size: 22px;
                            }
                        }
                        
                        @media (min-width:1150px) {
                            .location-city {
                                max-width: 360px;
                            }
                        }
                        
                        @media (min-width:1250px) {
                            .hero-img-desktop {
                                height: 420px;
                            }
                            .hero-text {
                                right: 23%;
                            }
                            .index-intro-text {
                                padding-top: 100px;
                            }
                        }